<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .h2-text {
            color: red
        }
    </style>
</head>
<body>
<div>
    <h1 id="h1-text">Text</h1>
    <h2 class="h2-text">Text2</h2>
    <h6 class="h2-text">Text6</h6>
    <p>Если строка текста вылезла за пределы ширины экрана, в пайчарме <span style="color: green">-это вертикальная линяя справа,</span>
        то можно нажать
        OPTION + COMMAND + L и всё выравнивается автоматически</p>
    <a href="https://www.python.org/" target="_blank">Python</a>
    <img alt="browsers.png" src="https://playwright.dev/img/logos/Browsers.png" style="width: 250px">
    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <Li>Item 3</Li>
    </ul>
    <ol>
        <li>Item 123</li>
        <li>Item 2234</li>
        <Li>Item 3456</Li>
    </ol>

    <form action="/action" method="POST">
        <input type="text" value="12345" placeholder="Text">
        <input type="text" value="" placeholder="Text">
        <input required type="email" value="" placeholder="Email">
        <textarea required placeholder="Text">12345</textarea>
        <input type="password" value="" placeholder="Password">
        <button type="submit">Forward</button>
    </form>
    <table>
        <head>
            <tr>
                <td>Item 1</td>
                <td>Item 2</td>
                <td>Item 3</td>
            <tr>
        </head>
        <tbody>
        <tr>
            <td>Row 1</td>
            <td>Row 2</td>
            <td>Row 3</td>
        <tr>
        <tr>
            <td>Row 1</td>
            <td>Row 2</td>
            <td>Row 3</td>
        <tr>
        </tbody>
    </table>


</div>
</body>
</html>